.notifications-headers {
    display: flex;
    margin-bottom: 1em;
}

.notifications-headers > h1 {
    margin: 0 1em;
}

.notifications-headers > h1:hover {
    cursor: pointer;
}

.notifications-container {
    margin-left: 1em;
}

.selected {
    color: #bb86fc;
}

.not-selected {
    color: lightgray;
}

.no-invites {
    font-size: 3em;
}
