.groups-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
}

.groups-container {
    display: flex;
    flex-direction: column;
    max-width: 95%;
}

.groups-container > h1 {
    text-align: center;
}

.groups-groupcard {
    display: flex;
    align-content: center;
    /* justify-content: center; */
    margin-left: 2em;
    width: 100%;
    padding-bottom: 1.5em;
}

.no-groups {
    text-align: center;
    font-size: 2em;
}

.no-groups button{
    border: none;
    background-color: #121212;
    font-size: 32px;
    color: #03dAC5;
    
}

.no-groups button:hover {
    cursor: pointer;
}
