#edit-group-btn-container {
    display: flex;
    justify-content: space-around;
}

.edit-group-submit {
    background-color: #BB86fc;
    border-radius: 6px;
    width: 50%;
    align-self: center;
    color: black;
    font-weight: bold;
    padding: 0.5em 0;
}

.edit-group-cancel {
    background-color: rgb(228, 222, 222);
    border-radius: 6px;
    width: 50%;
    align-self: center;
    color: black;
    font-weight: bolder;
    padding: 0.5em 0;
}
