.groupcard-groupPic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 1em;
}

.groupcard-name-pic {
    display: flex;
    align-items: center;
    text-align: center;
}

.groupcard-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-trash-can-div{
    margin-left: 1em;
}

.groupcard-groupname {
    text-decoration: none;
	font-size: 2em; 
    margin: 0;
    font-weight: bold;
    word-break: break-all;
}
